<h1>Vehicles in Automan</h1>

<%= link_to ' Add a New vehicle', new_vehicle_path %>
 
<table>
  <tr>
    <th>SerialNo</th>
    <th>Licence Number</th>
     <th>Type</th>
    <th>Model</th>
    <th>Model Year</th>
     <th>Odometer Reading</th>

   
    
    <th colspan="6"></th>
  </tr>
 
  <% @vehicles.each_with_index do |vehicle,index| %>
    <tr>
       <td><%= index+1 %> </td>
      <td><%= vehicle.licenceNum %></td>
      <td><%= vehicle.vehicleType %></td>
      <td><%= vehicle.vehicleModel %></td>
      <td><%= vehicle.modelYear %></td>
      <td><%= vehicle.odoReading %></td>
     
      
      <td><%= link_to 'Show', vehicle_path(vehicle) %></td>
      <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
      <td><%= link_to 'Destroy', vehicle_path(vehicle),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>



