<html>
<head>
	<title>hello</title>
</head>
<body>

	<h1> Add A vehicle to Automan<h1>


	<%= form_with scope: :vehicle,url: vehicles_path, local: true do |form| %>

  		<p>
    		<%= form.label :title %><br>
    		<%= form.text_field :title %>
  		</p>
 

  		<p>
    		<%= form.label :text %><br>
    		<%= form.text_area :text %>
  		</p>

 
  		<p>
    		<%= form.submit %>
  		</p>

	<% end %>

	<%= link_to 'Back', vehicles_path %>


</body>
</html>