
  <strong>Licence Number:</strong>
  <%= @vehicle.licenceNum %>


  <strong>Type:</strong>
  <%= @vehicle.vehicleType %>
 
  <strong>Model:</strong>
  <%= @vehicle.vehicleModel %>

  <strong>Model Year:</strong>
  <%= @vehicle.modelYear %>

  <strong>Odometer Reading:</strong>
  <%= @vehicle.odoReading %>



<h2>Maintenance Task</h2>
<%= render @vehicle.maintenances %>
 
<h2>Add a Maintenance Task:</h2>
<%= render 'maintenances/form' %>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>